{% extends 'structure.html' %}

{% load static %}

{% block svg %}

{% for cat in category %}
{% autoescape off %}
    {{ cat.icon }}
{% endautoescape %}
{% endfor %}

{% endblock %}

{% block content %}

<!-- Intro -->

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__text">
                <h1 class="intro__tittle">Space Of Taste</h1>
                <p class="intro__subtittle">An online delivery store where you can find all possible options to satisfy your gourmet taste.</p>
                <p class="intro__subsub">Whether you're in the mood for something sweet or savory, our fast food menu has got you covered with delicious snacks and desserts to satisfy any craving.</p>
                <div class="intro__btn">
                    <a href="#" class="btn btn-gold-intro">Menu</a>
                </div>
            </div>
            <div class="intro__img">
                <img id="intro-pizza" src="{% static 'main/images/intro-pizza.jpg' %} " alt="">
            </div>
        </div>
    </div>
</div>

<!-- Menu -->

<div class="menu">
    <div class="container">
        <div class="category">
            <nav class="category__inner">
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#pizza"></use>
                    </svg>
                </a>
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#desserts"></use>
                    </svg>
                </a>
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#desserts"></use>
                    </svg>
                </a>
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#desserts"></use>
                    </svg>
                </a>
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#desserts"></use>
                    </svg>
                </a>
                <a href="#" class="category__a">
                    <svg class="category__icon">
                        <use xlink:href="#desserts"></use>
                    </svg>
                </a>
            </nav> <!-- ./category__inner -->
        </div> <!-- ./category -->
        <div class="menu__sort">

        </div>
        <div class="menu__inner">
        </div>
    </div> <!-- ./container -->
</div> <!-- ./menu -->

{% endblock %}